
.header {
    background-color: rgb(220, 233, 41);

    .container {
        max-width: 1100px;
        margin: 0 auto;
        padding: 20px 0;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;

        .nav {
            display: flex;
            gap: 20px;
            align-items: center;

            .link {
                color: rgb(98, 3, 110);
                font-size: 18px;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
}